{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'clg/css/login.css' %}">
</head>

<body>
<div class="login-container">

    <h2>Welcome Back!</h2>

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}

        <input type="text" class="input-field"
               placeholder="Username"
               required name="username"><br>

        <input type="password"
               class="input-field"
               placeholder="Password"
               required name="password"><br>

        <br><button type="submit"
                    class="submit-btn">Login
            </button>
    </form><br>

        <a style="text-decoration:none;color:white"
           href="{% url 'register' %}?action=register">

            <button class="submit-btn">Sign Up</button>

        </a>
    <br><br>
    <a style="text-decoration:none;color:blue"
       href="#" class="login-link">Forgot Password?</a>
</div>

</body>
</html>
